# Emacs のテンポラリファイルを除外する
.\#*
# Office関連のテンポラリファイルは除外する
~$*
*.tmp
# OS関連の一時ファイルは除外
.DS_Store
Thumbs.db
# 以下バックアップファイルを除外する
*~
*.org
*.orig
*.bak
# 圧縮ファイル関係も除外する
*.zip
*.tar
*.tar.gz
# yyyymmdd形式のバックアップファイルを除外する
*.[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]
# yyyymm形式のバックアップファイルを除外する
*.[0-9][0-9][0-9][0-9][0-9][0-9]
